body {
	font-family: 'Poppins', sans-serif;
	max-width: 1280px;
	margin: 0 auto;
	background-color: #5e5b5bad;
	color: #333333;
}

body.modo-escuro {
	background-color: #212121;
	color: #f5f5f5;
}

/* Style for the modal */
.modal {
	display: none; /* Hide the modal by default */
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
  }
  
  /* Style for the modal content */
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 300px;
  }
  
  /* Style for the close button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }

  header {
	display: flex;
	justify-content: space-between;
	padding: 25px;
	position: sticky;
	top: 0;
	background-color: #5e5b5bad; /* Add a solid background color to the header */
	z-index: 999; /* Add a high z-index to ensure the header is displayed above the content */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for visual separation */
	border-radius: 0 0 15px 15px; /* Add rounded borders to the bottom of the header */
}

/* Add padding to the buttons in the header to create space */
header a {
	padding: 10px 15px;
}

/* Add some margin to separate the buttons in the header */
header a:not(:last-child) {
	margin-right: 10px;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

header .logo,
header .imagem-botao {
	width: 30px;
	transition: 0.2s ease-in-out;
}

header #botao-alterar-tema {
	background: none;
	border: none;
}

header .logo:hover,
header .imagem-botao:hover,
main .cartao-pokemon:hover {
	transform: scale(1.1);
	cursor: pointer;
}

main {
	padding: 25px;
}

main .listagem-pokemon {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}

main .cartao-pokemon {
	background-color: #d8e3ec;
	width: 200px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	border-radius: 15px;
	transition: 0.2s ease-in-out;
}

main .cartao-pokemon:hover {
	background-color: #96d9d6;
}

.modo-escuro .cartao-pokemon {
	background-color: #a8a8a8;
}

main .cartao-pokemon .informacoes {
	display: flex;
	justify-content: space-between;
	border: 1px solid #333333;
	border-radius: 10px;
}

main .cartao-pokemon .informacoes span {
	padding: 5px;
	text-transform: uppercase;
	font-size: 17px;
}

main .cartao-pokemon .gif {
	width: 90px;
	height: 90px;
}

main .cartao-pokemon .tipos {
	display: flex;
	gap: 15px;
}

main .cartao-pokemon .tipo {
	padding: 8px;
	border-radius: 10px;
	text-transform: capitalize;
}

/* ----- English ----- */

.bug {
	background-color: #a7ba00;
}

.dark {
	background-color: #6f5846;
}

.dragon {
	background-color: #6f29fd;
}

.electric {
	background-color: #fad105;
}

.fairy {
	background-color: #f198ac;
}

.fighting {
	background-color: #c22e22;
}

.fire {
	background-color: #f17f1d;
}

.flying {
	background-color: #a88ef2;
}

.ghost {
	background-color: #72559d;
}

.grass {
	background-color: #74c948;
}

.ground {
	background-color: #e2c162;
}

.ice {
	background-color: #95d8d9;
}

.normal {
	background-color: #a9a975;
}

.poison {
	background-color: #a13aa3;
}

.psychic {
	background-color: #fb5587;
}

.rock {
	background-color: #b9a02c;
}

.steel {
	background-color: #b8b8d0;
}

.water {
	background-color: #678ef3;
}

/* ----- Português ----- */

.grama {
	background-color: #7ac74c;
}

.veneno {
	background-color: #df67ddfb;
}

.fogo {
	background-color: #ee8130;
}

.agua {
	background-color: #6390f0;
}

.inseto {
	background-color: #a6b91a;
}

main .descricao {
	max-height: 80px;
	overflow-y: scroll;
	font-size: 14px;
	padding-right: 10px;
}
