body {
	font-family: 'Poppins', sans-serif;
	max-width: 1280px;
	margin: 0 auto;
	background-color: #5e5b5bad;
	color: #333333;
}

body.modo-escuro {
	background-color: #212121;
	color: #f5f5f5;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 25px;
	position: sticky;
	top: 0;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

header .logo,
header .imagem-botao {
	width: 30px;
	transition: 0.2s ease-in-out;
}

header #botao-alterar-tema {
	background: none;
	border: none;
}

header .logo:hover,
header .imagem-botao:hover,
main .cartao-pokemon:hover {
	transform: scale(1.1);
	cursor: pointer;
}

main {
	padding: 25px;
}

main .listagem-pokemon {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}

main .cartao-pokemon {
	background-color: #d8e3ec;
	width: 200px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	border-radius: 15px;
	transition: 0.2s ease-in-out;
}

main .cartao-pokemon:hover {
	background-color: #96d9d6;
}

.modo-escuro .cartao-pokemon {
	background-color: #a8a8a8;
}

main .cartao-pokemon .informacoes {
	display: flex;
	justify-content: space-between;
	border: 1px solid #333333;
	border-radius: 10px;
}

main .cartao-pokemon .informacoes span {
	padding: 5px;
	text-transform: uppercase;
	font-size: 17px;
}

main .cartao-pokemon .gif {
	width: 90px;
	height: 90px;
}

main .cartao-pokemon .tipos {
	display: flex;
	gap: 15px;
}

main .cartao-pokemon .tipo {
	padding: 8px;
	border-radius: 10px;
	text-transform: capitalize;
}

/* ----- English ----- */

.bug {
	background-color: #a7ba00;
}

.dark {
	background-color: #6f5846;
}

.dragon {
	background-color: #6f29fd;
}

.electric {
	background-color: #fad105;
}

.fairy {
	background-color: #f198ac;
}

.fighting {
	background-color: #c22e22;
}

.fire {
	background-color: #f17f1d;
}

.flying {
	background-color: #a88ef2;
}

.ghost {
	background-color: #72559d;
}

.grass {
	background-color: #74c948;
}

.ground {
	background-color: #e2c162;
}

.ice {
	background-color: #95d8d9;
}

.normal {
	background-color: #a9a975;
}

.poison {
	background-color: #a13aa3;
}

.psychic {
	background-color: #fb5587;
}

.rock {
	background-color: #b9a02c;
}

.steel {
	background-color: #b8b8d0;
}

.water {
	background-color: #678ef3;
}

/* ----- Português ----- */

.grama {
	background-color: #7ac74c;
}

.veneno {
	background-color: #df67ddfb;
}

.fogo {
	background-color: #ee8130;
}

.agua {
	background-color: #6390f0;
}

.inseto {
	background-color: #a6b91a;
}

main .descricao {
	max-height: 80px;
	overflow-y: scroll;
	font-size: 14px;
	padding-right: 10px;
}
